.carbonad-standard {
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border: 1px dashed #ccc;
  line-height: 1;
  padding-top: 5px;
  padding-left: 5px;
  min-height: 110px;
  max-width: 350px;

  #carbonads {
    .carbon-img {
      float: left;
      margin-right: 5px;

      img {
        width: 130px;
        height: auto;
      }
    }

    .carbon-text {
      max-width: calc(100% - 130px - 3em);
      font-size: 12px;
      margin-right: 5px;
    }

    .carbon-poweredby {
      display: block;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: 600;
      font-size: 9px;
      line-height: 2.5;
      color: #ccc;
    }
  }
}

@media (max-width: 1024px) {
  .sidebar-sticky {
    .carbonad-standard {
      text-align: center;

      #carbonads {
        .carbon-img {
          float: none;
        }

        .carbon-text {
          display: block;
          max-width: 100%;
          margin-top: 5px;
        }
      }
    }
  }
}
